<nav class="navbar navbar-expand-lg ">
    <div class="container">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a routerLink="/approved"><h1 class="navbar-brand animate-charcter">Rentaride</h1></a>


    <div class="wrapper">
      <aside id="sidebar">
        <div class="d-flex">
          <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
          </button>
          <div class="sidebar-logo">
            <a routerLink="/dashboard">Admin Login</a>
          </div>
        </div>
        <!-- <ul class="sidebar-nav">
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">
              <i class="lni lni-regUser"></i>
              <span>Profile</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">
              <i class="lni lni-agenda"></i>
              <span>Task</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a
              href="#"
              class="sidebar-link collapsed has-dropdown"
              data-bs-toggle="collapse"
              data-bs-target="#auth"
              aria-expanded="false"
              aria-controls="auth"
            >
              <i class="lni lni-protection"></i>
              <span>Auth</span>
            </a>
            <ul
              id="auth"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Login</a>
              </li>
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Register</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a
              href="#"
              class="sidebar-link collapsed has-dropdown"
              data-bs-toggle="collapse"
              data-bs-target="#multi"
              aria-expanded="false"
              aria-controls="multi"
            >
              <i class="lni lni-layout"></i>
              <span>Multi Level</span>
            </a>
            <ul
              id="multi"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a
                  href="#"
                  class="sidebar-link collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#multi-two"
                  aria-expanded="false"
                  aria-controls="multi-two"
                >
                  Two Links
                </a>
                <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                  <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Link 1</a>
                  </li>
                  <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Link 2</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">
              <i class="lni lni-popup"></i>
              <span>Notification</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">
              <i class="lni lni-cog"></i>
              <span>Setting</span>
            </a>
          </li>
        </ul> -->
        <div class="sidebar-footer">
          <a href="#" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
          </a>
        </div>
      </aside>
      <div class="main">


        <nav class="navbar navbar-expand-lg ">
            <div class="container">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <h1 class="navbar-brand animate-charcter">Rentaride</h1>

            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li>

              </ul>

            </div>
          </div>
        </nav>

        <div class="container">
          <legend class="text-primary pt-5">Users Booking Vehicle Details</legend>
          <hr style="color: red; border: 2px solid red">

            <!-- Filter input field -->
          <input type="text" placeholder="Search by User Name and Vehicle Name" [(ngModel)]="filterValue" (input)="applyFilter()" class="form-control mt-3">

            <table class="table table-striped table-bordered">
          <h2>--User Details--</h2>
          <tr>
          <th>User Id</th>
          <th>User Name</th>
          <th>Contact Number</th>
          <th>Address</th>
          <th>DL Number</th>
          <th>Total Days Requested</th>
          <th>Vehicle Type</th>
          <th>Booking ID</th>
          <th>Status</th>
          </tr>
          <tr *ngFor="let regUser of filteredUsers">
          <td *ngIf="regUser.status == true">{{regUser.id}}</td>
          <td *ngIf="regUser.status == true" >{{regUser.fullname}}</td>
          <td *ngIf="regUser.status == true">{{regUser.phonenumber}}</td>
          <td *ngIf="regUser.status == true">{{regUser.address}}</td>
          <td *ngIf="regUser.status == true">{{regUser.dlnumber}}</td>
          <td *ngIf="regUser.status == true">{{regUser.totalDays}}</td>
          <td *ngIf="regUser.status == true">{{regUser.carType}}</td>
          <td *ngIf="regUser.status == true">{{regUser.bookingId}}</td>
          <td *ngIf="regUser.status == true">approved</td>
          <!-- <td *ngIf="regUser.status == false">rejected</td>
          <td>

            <button *ngIf="regUser.status == false" class="btn btn-success" type="submit" (click)="approveUser(regUser)">Approve</button>
            <button *ngIf="regUser.status == true" class="btn btn-danger" type="submit" (click)="rejectUser(regUser)">Reject</button>

          </td> -->
          </tr>
          </table>
          </div>

      </div>
    </div>

  </div>
</nav>
