.backgroud-image{
  background: url('/assets/image/logoImage/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ffffff 47%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 45px;
  font-weight: 600;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.text-header{
  /* padding-top: 150px; */
  text-align: center;
  padding-bottom: 20px;
}
.sign-up{
  text-align: center;
}
.outer-box{
  border: 2px solid #fff;
  border-radius: 5px;
}
.inner-box{
  padding: 50px;
}
.container{
  padding-top: 100px;
  width: 500px;
}