<div class="backgroud-image">
  <div class="container">
    <div class="outer-box">
      <div class="inner-box">
        <div class="white-box">
          <div class="text-header">
            <h1 class="animate-charcter">User Register</h1>
          </div>

          <form action="" class="was-validated">
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label">Full Name</label>
              <input
                type="text"
                class="form-control"
                id="uname"
                placeholder="Enter Full Name"
                name="uname"
                required
              />
            </div>
            <div class="mb-3">
              <label for="uname" class="form-label">Email Id:</label>
              <input
                type="email"
                class="form-control"
                id="uname"
                placeholder="Enter Email Id"
                name="uname"
                required
              />
            </div>
            <div class="mb-3">
              <label for="pwd" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="pwd"
                placeholder="Enter password"
                name="pswd"
                required
              />
            </div>

          

            <button type="submit" routerLink="/userlogin" class="btn btn-primary">
              Submit
            </button>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>
