.backgroud-image{
    background: url('/assets/image/logoImage/background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ffffff 47%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 45px;
    font-weight: 600;
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .text-header{
    /* padding-top: 150px; */
    text-align: center;
    padding-bottom: 20px;
  }
  .loader {
     display: block; 
    --height-of-loader: 4px;
    --loader-color: #fff;
    width: auto;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
   margin: 10px;
  }
  
  .loader::after {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
  .outer-box{
    border: #fff solid 2px;
    border-radius: 10px;
    padding-top: 50px;
  }
  .container{
    width: 700px;
    padding-top: 100px;
  }
  .white-box{
    padding-bottom: 50px;
  }
  .text-paragraph{
    padding-top: 20px 10px;
    text-align: center;
  }

  .login-btn{
    padding-top: 50px;
  }

  ul li{
    list-style: none;
    display: inline;
  }
  .admin-btn{
    padding: 5px;
    border: 1px solid #000;
    border-radius: 2px;
    color: #000;
    font-weight: 600;
    font-size: 25px;
  }
  .user-btn{
    border: 1px solid #000;
    border-radius: 2px;
    padding: 5px;
    color: #000;
    font-weight: 600;
    font-size: 25px;
    float: right;
    margin-right: 20px;
  }