<div class="backgroud-image">
  <div class="container">
    <div class="outer-box">
      <div class="inner-box">
        <div class="white-box">
          <div class="text-header">
            <h1 class="animate-charcter">Rent a ride</h1>
          </div>
          <div class="loader text-center"></div>

          <div class="text-paragraph">
            You can plan your travel according to your convenience. The schedule
            of public transport may not align with your itinerary, especially if
            it’s a public holiday. You can start the day whenever you want, stop
            wherever you want, and make changes to your day as you go along.
          </div>
          <ul class="login-btn">
            <li>
                <a routerLink="/adminlogin" class="admin-btn" mat-raised-button> Admin Login</a>
              <!-- <a class="admin-btn" href="">Admin Login</a> -->
            </li>
            <li>
              <a routerLink="/userlogin" class="user-btn" mat-raised-button> User Login</a>
              <!-- <a class="user-btn" href="">User Login</a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
