.bg-body-tertiary{
    background-color: #000 !important;
    color: #fff !important;
   
}
.navbar-brand{
    color: #fff !important;
}
.nav-link{
    color: #fff !important;
}
.navbar-toggler{
    color: #fff !important;
}