
.background-images{
    background-image: url('/assets/image/logoImage/front.jpeg');
    width: 100%;
    min-height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-text{
    color: #fff;
}
.background-text h3{
    padding-top: 200px;
    font-size: 30px;
    font-weight: 600;
}
.background-text h2{
    padding-top: 20px;
    font-size: 35px;
    font-weight: 600;
}
.background-text p{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 10px;
}
.background-text br{
    margin: 10px;
}
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #E2BFB3;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #fff;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #E2BFB3;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  .cta{
    padding-bottom: 200px;
  }
  /***************************************************/
  #whyrentaride{
    padding-bottom: 100px;
  }
  .whyrentaride{
    padding-top: 80px;
    text-align: center;
  }

  .whyrentaride h1{
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .whyrentaride p{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
    line-height: 2;
  }
  .card {
    width: auto;
    height: 400px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 60%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
  
   
   /*Text*/
   .text-title {
    text-align: center;
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    text-align: center;
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   
   