<section id="works-service">
    <div class="container head-text">
        <h3 class="pb-4">How It Works</h3>
      <div class="row">
        <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="/assets/image/logoImage/payment.png" />
              <div class="card-body">
               
                <h1>Book & Pay</h1>
                <p class="card-text">
                  
                 Pick your favourite car, time and place.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="/assets/image/logoImage/receive.png" />
              <div class="card-body">
                <h5 class="card-title"></h5>
                <h1>Receive</h1>
                <p class="card-text">
                  
                 We will deliver the car to your doorstep
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="/assets/image/logoImage/selfdrive.png" />
              <div class="card-body">
                <h5 class="card-title"></h5>
                <h1>Drive</h1>
                <p class="card-text">
                  
                Enjoy your Rentaride self Drive
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="/assets/image/logoImage/return.png" />
              <div class="card-body">
                <h5 class="card-title"></h5>
                <h1>Return</h1>
                <p class="card-text">
                  
                Get the car back to your preferred return location.
                </p>
              </div>
            </div>
          </div>
      </div>
    
    </div>
  </section>