
<app-navbar></app-navbar>
<div class="background-images">
    <div class="container">
      <div class="background-text">
        <h3>Life is a journey enjoy the ride</h3>
        <h2>Instantly book cars near you</h2>
        <p>
          Need a car? Oh, you've come to the right place.
          <br />
          Book cars on demand by the hour or day.
          <br />
          Join instantly, drive in minutes
        </p>

        <a routerLink="/forms">
          <button class="cta">
            <span>Booking Vehicle Now</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </button>
        </a>
       
      </div>
    </div>
  </div>

