<form
  class=""
  action="mailto:mayurkaran21@gmail.com"
  method="post"
  enctype="text/plain"
>

<section id="ContactBar">
  <div class="container">
    <div class="contact-txt">
      <a routerLink="/home">X</a>
      <div class="MessageBox">
        <h2>SAY SOMETHING</h2>

        <input
          class="Contact-name"
          type="text"
          name="text"
          placeholder="Your Name...."
        />
        <input
          class="Contact-email"
          type="email"
          name="email"
          placeholder="Your Mail..."
        />
        <input
          class="Contact-no"
          type="text"
          name="PhoneNumber"
          placeholder="Phone Number"
        />
        <textarea
          class="Contact-area"
          name="msg"
          rows="4"
          cols="25"
          placeholder="Your Message"
        ></textarea>

        <input class="Contact-btn" type="button" name="send" value="SEND" />
      </div>
      <h1>Contact Me</h1>

      <p>
        We are here to help you and find answer to your question on our support
        section If you can't find the answer to your question or hava any
        feedback , reeach out to us bt completing the form . All fields are
        mandatory unless otherwise stated
      </p>
    </div>

    <div class="Contact-Me">
      <p>
        <b>Email : </b>support.rentaride.com<br />
        <b>Phone : </b>1800 1234 12<br />
        <b>Address : </b> New Delhi,India
      </p>

      <a class="foot-link"
        >Facebook</a
      >
      <a class="foot-link" 
        >Linkedin</a
      >
      <a
        class="foot-link"
      >
        Instagram</a
      >
    </div>
    <div class="cls"></div>
  </div>
</section>
