<app-navbar></app-navbar>
<div class="background-images">
  <div class="container">
    <div class="background-text">
      <h3>Life is a journey enjoy the ride</h3>
      <h2>Instantly book cars near you</h2>
      <p>
        Need a car? Oh, you've come to the right place.
        <br />
        Book cars on demand by the hour or day.
        <br />
        Join instantly, drive in minutes
      </p>
      <a routerLink="/forms">
        <button class="cta">
          <span>Booking Vehicle Now</span>
          <svg width="15px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>

<section id="whyrentaride">
  <div class="container">
    <div class="row">
      <div class="whyrentaride">
        <h1>Why Rentaride ?</h1>
        <p>
          We simplified car rentals,so you can focus on what's important to you.
          Reserve wheels <br />
          When you want them, by the hours or day, and only pay for the time you
          drive
        </p>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/assets/image/logoImage/money.png "
            class="card-img img-fluid"
            alt=""
          />

          <div class="card-info">
            <p class="text-title">Save Money</p>
            <p class="text-body">
              Rentaride covers Petrol Insurance options, parking, and
              maintenance for a potential saving of 20% month over car ownership
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/assets/image/logoImage/hidden.png"
            class="card-img img-fluid"
            alt=""
          />

          <div class="card-info">
            <p class="text-title">No Hidden Charges</p>
            <p class="text-body">
              Our prices include taxes and Insurance. what you see is is what
              you really pay
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/assets/image/logoImage/fuel.png"
            class="card-img img-fluid"
            alt=""
          />

          <div class="card-info">
            <p class="text-title">Fuel Cost Include</p>
            <p class="text-body">
              Don't worry about mileage! All fuel cost are included. If you
              refill fuel.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/assets/image/logoImage/drive.png"
            class="card-img img-fluid"
            alt=""
          />

          <div class="card-info">
            <p class="text-title">Drive on-demand</p>
            <p class="text-body">
              No waiting is line at the counter. No need to even search for your
              keys! Just book and go.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-home-mid></app-home-mid>


<app-footer></app-footer>
